 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{ "/" | absolute_url }}">
                    <i class="fa fa-play-circle"></i> ADL Scan
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="{{ "/" | absolute_url }}"></a>
                    </li>
                    {% if page.url != "/privacypolicy" %}
                    <li>
                        <a class="page-scroll" href="{{ "/privacypolicy" | absolute_url }}">Privacy Policy</a>
                    </li>
                    {% endif %}
                    {% if page.url != "/" %}
                    <li>
                        <a class="page-scroll" href="{{ "/" | absolute_url }}#download">Download</a>
                    </li>
                    {%endif%}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>